*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', system-ui, sans-serif;
}

body.outlined *,
body.outlined *::before,
body.outlined *::after {
  outline: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.modal-overlay {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 360px;
  background: #ffffff;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.125);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.125);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.125);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.list-item.header {
  /*font-weight: 500;*/
}

.divider {
  height: 1px;
  background: #c8c8c8;
  margin: 8px 0;
}

.list {
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  height: 44px;
  background: #ffd233;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-modal {
  margin-top: 10px;
}

.btn-primary:hover {
  background: #f5c400;
}

.btn-primary:disabled {
  pointer-events: none;
  cursor: not-allowed;
}
